.onoffswitch {
    position: relative;
    width: 97px;
    scale: 0.9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitchCheckbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitchLabel {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitchInner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitchInner:before,
.onoffswitchInner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitchInner:before {
    content: 'North';
    padding-left: 16px;
    background-color: #282c34;
    color: #ffffff;
}

.onoffswitchInner:after {
    content: 'South';
    padding-right: 14px;
    background-color: #ffffff;
    color: #4f6970;
    text-align: right;
}

.onoffswitchSwitch {
    display: block;
    width: 26px;
    margin: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 63px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitchCheckbox:checked + .onoffswitchLabel .onoffswitchInner {
    margin-left: 0;
}

.onoffswitchCheckbox:checked + .onoffswitchLabel .onoffswitchSwitch {
    right: 0px;
}
