.lunarPhaseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lunarPhaseIcon {
        max-width: 400px;
        width: 300px;
        height: auto;
        background-color: #121417;
        border-radius: 50%;
    }

    .southern {
        transform: rotate(180deg);
    }

    .northern {
        transform: rotate(0deg);
    }

    .southern,
    .northern {
        transition: transform 1s ease;
    }
}
